.ebgaramondmedium {
    font-family: 'EB Garamond';
    font-weight: 500;
}

.ebgaramondregular {
    font-family: 'EB Garamond';
    font-weight: 400;
}

.interregular {
    font-family: 'Inter';
    font-weight: 400;
}

.interbold {
    font-family: 'Inter';
    font-weight: 700;
 }
